<ion-view view-title="Basket">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <p>Size:20"</p>
                <p>Quantity:1</p>
                <p>Filler:Yes</p>
                <h4>$25.99</h4>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pillow.jpg">
                <h3>Photo Cushion</h3>
                <p>Size:20"</p>
                <p>Quantity:1</p>
                <p>Filler:Yes</p>
                <h4>$25.99</h4>
            </a>

            <div class="padding">
                <h4>Total:$51.98</h4>
                <button class="button button-block button-outline button-positive">CHECKOUT</button>
            </div>

        </div>
    </ion-content>
</ion-view>