<ion-view view-title="Basket">
    <ion-content>
        <div class="no-connect" ng-if="shownocart">
            <h3>No Pillow yet...</h3>
        </div>
        <div class="no-connect" ng-if="showloading">
            <h3>Loading...</h3>
        </div>
        <div class="list" ng-if="carts != ''">
            <a class="item item-thumbnail-left" href="#/app/edit/{{cart.id}}" ng-repeat="cart in carts">
                <img src="{{cart.thumbnail | imgpath}}">
                <h3>{{cart.xsize}} * {{cart.ysize}} Photo Cushion</h3>
                <h4 class="positive">Rs.{{cart.price}}</h4>
                <!--                <p>Size:20"</p>-->
                <p>Quantity:{{cart.quantity }}</p>
                <!--                <p>Filler:Yes</p>-->
                <button class="button button-clear button-assertive button-small" ng-click="removeCart(cart)">REMOVE</button>
            </a>
            <div class="item item-divider">Total Ammount</div>
            <!--
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter your coupon code here...">
                </label>
                <button class="button button-small button-outline button-positive">
                    Submit
                </button>
            </div>
            <ion-item>
                Subtotal Amount
                <span class="item-note">Rs.50.99</span>
            </ion-item>
            <ion-item>
                Discounted Amount
                <span class="item-note">Rs.0</span>
            </ion-item>
-->
            <ion-item>
                Total
                <span class="item-note">Rs.{{total}}</span>
            </ion-item>

            <div class="padding">

                <a href="#/app/checkout" class="button button-block button-outline button-positive">Checkout</a>
            </div>

        </div>

        <ion-infinite-scroll on-infinite="loadMoreCart()" ng-if="keepscrolling" distance="25%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>