<ion-view view-title="My Cart">
    <ion-content class="homebg">
        <div class="text-center mt40">
            <img src="img/pillow1.png" height="200px" width="200px">
        </div>
        <ion-list class="cart-list">
            <ion-item>
                <span>Size</span>
                <select class="pull-right">
                    <option>16*16</option>
                    <option>15*15</option>
                </select>
            </ion-item>
            <ion-item>
                <span>Quantity</span>
                <span class="pull-right">1</span>
            </ion-item>
            <ion-item>
                <span>Total</span>
                <span class="pull-right">Rs.500</span>
            </ion-item>
        </ion-list>
        <div class="row mt40">
            <div class="col">
                <button class="button button-stable btn-width" ng-click="addcart();">
                    Add to cart
                </button>
            </div>
            <div class="col">
               <a href="#/app/order">
                <button class="button button-stable btn-width">
                    Checkout
                </button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>