<ion-view view-title="Customize Pillow">
    <ion-content>

        <div class="text-center mt40">
            <!-- SVG begins -->
            <svg>

                <!-- Definition of a mask begins -->
                <defs>
                    <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
                        <image width="300px" height="300px" xlink:href="img/mask-img.png"></image>
                    </mask>
                </defs>
                <!-- Definition of a mask ends -->

                <foreignObject width="300px" height="300px" style="mask: url(#mask);">

                    <!-- HTML begins -->
                    <script>
                        head();
                    </script>
                    <div class="maskimg m0auto">
                        <!--                        <img src="img/demo1.jpg" class="img-size">-->
                        <div class="img-size pos">
                            <img src="img/demo.jpg" class="">
                            <input type="text" class="positive-border img-input">
                        </div>
                        <div class="img-size pos">
                            <img src="img/demo1.jpg" class="">
                            <input type="text" class="positive-border img-input">
                        </div>
                    </div>
                    <script>
                        foot();
                    </script>
                    <!-- HTML ends -->

                </foreignObject>
            </svg>
            <!-- SVG ends -->
            <!--
            <div class="maskimg m0auto">
                <div class="img-size pos">
                    <img src="img/demo.jpg" class="">
                    <input type="text" class="positive-border img-input">
                </div>
                <div class="img-size pos">
                    <img src="img/demo1.jpg" class="">
                    <input type="text" class="positive-border img-input">
                </div>
            </div>
-->
            <div class="img-text mt75">
                Adjust the image inside the pillow using arrows.
            </div>
            <div class="m0auto nav-arrow pos">
                <img src="img/arrowt.png" class="arrowt">
                <img src="img/arrowr.png" class="arrowr">
                <img src="img/arrowb.png" class="arrowb">
                <img src="img/arrowl.png" class="arrowl">
            </div>

        </div>
        <div class="row mt20">
            <div class="col">
                <a class="button button-outline button-positive icon-right ion-plus btn-width" ng-click="openedit();">Add More</a>
            </div>
            <div class="col">
                <a class="button button-outline button-positive icon-right ion-edit btn-width" ng-click="openedit();">Edit</a>
            </div>
        </div>
        <div class="padding">

            <a href="#/app/product" class="button button-block button-outline button-positive icon-right ion-chevron-right btn-width">Proceed</a>


        </div>
    </ion-content>
    <script>
        function head() {
            if (window.SVGForeignObjectElement) {
                document.write('\
            <svg width="400px" height="300px">\
                <defs>\
                    <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">\
                        <image width="400px" height="300px" xlink:href="mouse.png"/>\
                    </mask>\
                </defs>\
                <foreignObject width="100%" height="100%" style="mask: url(#mask);">\
        ');
            }
        }

        function foot() {
            if (window.SVGForeignObjectElement) {
                document.write('\
                </foreignObject>\
            </svg>\
        ');
            }
        }
    </script>
</ion-view>