<ion-view view-title="Customize Pillow">
    <ion-content>
        <div class="text-center mt40">
            <img src="img/pillow1.png" class="logo-size">
        </div>
        <div class="mt40 padding">
            
<!--
                <button class="button button-stable btn-width">
                    Add More
                </button>
-->
            <a class="button button-block button-outline button-positive icon-right ion-plus" ng-click="openedit();">Add More</a>
         
<!--
                <button class="button button-stable btn-width">
                    Go Ahead
                </button>
-->
                <a href="#/app/cart" class="button button-block button-outline button-positive icon-right ion-chevron-right btn-width">Go Ahead</a>

            
        </div>
    </ion-content>
</ion-view>