<ion-view view-title="Home">
    <ion-content class="homebg">
       
        <div class="slider-padding">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="text-center" style="padding-bottom:65px;">
                    <img src="img/pillow.png" width="150px" height="150px">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="text-center" style="padding-bottom:65px;">
                  <img src="img/pillow.png" width="150px" height="150px">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="text-center" style="padding-bottom:65px;">
                    <img src="img/pillow.png" width="150px" height="150px">
                </div>
            </ion-slide>
        </ion-slide-box>
        </div>
        <div class="title-txt">
            <p>Some text here</p>
        </div>
        <div class="text-center mt40">
        <button class="button create-btn">Create</button>
        </div>
    </ion-content>
</ion-view>