<ion-view view-title="Login">
    <ion-content class="homebg">
        <div class="text-center mt40">
            <img src="img/logo.png" height="100px" width="100px">
        </div>
        <div class="social-btn mt50">
            <button class="button button-block btn-fb">
                <span class="pull-left"><i class="fa fa-facebook"></i></span><span class="pull-right">Sign in with Facebook</span>
            </button>

            <button class="button button-block btn-twitter">
                <span class="pull-left"><i class="fa fa-twitter"></i></span><span class="pull-right">Sign in with Twitter</span>
            </button>

            <button class="button button-block btn-gplus">
                <span class="pull-left"><i class="fa fa-google-plus"></i></span><span class="pull-right">Sign in with Google+</span>
            </button>
        </div>


    </ion-content>
</ion-view>