<ion-view view-title="Your Orders">
    <ion-content>
        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col">1x</div>
                    <div class="col col-67">20" Photo Cushion</div>
                    <div class="col">Rs.25.99</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">1x</div>
                    <div class="col col-67">20" Photo Cushion</div>
                    <div class="col">Rs.25.99</div>
                </div>
            </ion-item>
        </ion-list>
        <div class="text-center mt40">
            <h4>Total:$25.99</h4>
            <div class="list-inset" style="border:1px solid grey">
                <input type="text" placeholder="235432" style="padding:5px;">
            </div>
            <button class="button">
                Use Discount Code
            </button>
        </div>
        <div class="mt40">
            <h3 class="text-center">Your Details</h3>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Phone">
                </label>
            </div>
        </div>
        <div class="mt40">
            <h3 class="text-center">Billing Address</h3>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="House Name / Number">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address Line 1">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address Line 2">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Town/City">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State/Country/Providence">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Postal/Zip Code">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Country
                    </div>
                    <select>
                        <option>India</option>
                        <option selected>Austria</option>
                        <option>France</option>
                    </select>
                </label>
                <div class="item item-toggle">
                    Ship to my billing address
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                
            </div>
            <div class="text-center">
                <button class="button">PURCHASE</button>
                <h4>UPLOAD COMPLETE</h4>
            </div>
        </div>
    </ion-content>
</ion-view>