<ion-view class="design-popup">
    <ion-content>
        <div class="text-center custom">
            <h3>Design a product with your photo</h3>
            <ion-list>
                <ion-item>
                    Camera
                </ion-item>
                <ion-item>
                    Gallery
                </ion-item>
                <ion-item>
                    Facebook
                </ion-item>
            </ion-list>
            <button class="button button-block" ng-click="closeModal();">
                Cancel
            </button>
        </div>
    </ion-content>
</ion-view>