<ion-view class="design-popup">
    <ion-content>
        <div class="text-center custom">
            <h4>Design a product with your photo</h4>
            <ion-list class="pad-item">
                <ion-item href="#/app/customize" ng-click="closeModal();">
                    Camera
                </ion-item>
                <ion-item href="#/app/customize" ng-click="closeModal();">
                    Gallery
                </ion-item>
                <ion-item href="#/app/customize" ng-click="closeModal();">
                    Facebook
                </ion-item>
                <ion-item>
                    <button class="button" ng-click="closeModal();">
                Cancel
            </button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>