<ion-modal-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Create</h1>
        <button class="button button-clear icon-right ln-cross small-icon" ng-click="closeModal();"></button>
    </div>
    <ion-content class="has-header has-footer">
        <div ng-hide="showimages">
            <div class="item item-divider">Design a product with your photos</div>
            <ion-list class="pad-item">
                <ion-item nav-clear menu-close href="#/app/customize" class="item-icon-left" ng-click="clickPhoto();">
                    <i class="icon ln-photo"></i> Camera
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/customize" class="item-icon-left" ng-click="clickPhotoFront();">
                    <i class="icon ln-photo"></i> Front Camera
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/customize" class="item-icon-left" ng-click="uploadPhoto();">
                    <i class="icon ln-picture"></i> Gallery
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" ng-click="facebookPhoto();">
                    <i class="icon ion-social-facebook-outline"></i> Facebook
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" ng-click="instagramPhoto();">
                    <i class="icon ion-social-instagram-outline"></i> Instagram
                </ion-item>
            </ion-list>
            <!--
            <div class="padding">
                <button class="button button-block button-outline button-positive" ng-click="closeModal();">
                    Cancel
                </button>
            </div>
-->
        </div>
        <div ng-show="showimages">
            <div class="row" ng-repeat="imagesrow in socialimagesrow">

                <div class="col" ng-repeat="image in imagesrow">
                    <div class="gridcontainer" ng-click="socialImageClick(image)">
                        <img ng-src="{{image.url}}" class="full-image" alt="">
                        <span class="ion-checkmark-circled imageselection" ng-show="image.status"></span>
                    </div>

                </div>
            </div>
        </div>



    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive" ng-show="showimages">
        <div style="width:100%;">
            <button ng-click="cancelSocialPhoto();" class="button">Cancel</button>
            <button ng-click="doneSocialPhoto(socialimagesrow);" class="button pull-right">Done</button>
            <h1 class="title">You can Select {{9-pillowImages.length}} Images</h1>

        </div>
    </ion-footer-bar>
</ion-modal-view>