<ion-view view-title="My Cart">
    <ion-content class="has-header">
        <!--
        <div class="text-center mt40">
            <img src="img/pillow1.png" height="200px" width="200px">
        </div>
-->


        <div class="text-center mt40">


            <!--           MAIN CODE STARTS HERE-->


            <div class="maskimg m0auto rowof1" ng-if="pillowImages.length==1">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>


            <!--		   FOR 2 IMAGES-->


            <div class="maskimg m0auto rowof2" ng-if="pillowImages.length==2">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1, $data,$event)" ng-click="getImageId('img2', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>
                    </div>
                </div>
            </div>
            <!--		   FOR 3 IMAGES-->

            <div class="maskimg m0auto rowof2" ng-if="pillowImages.length==3">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 4 IMAGES-->

            <div class="maskimg m0auto rowof2" ng-if="pillowImages.length==4">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 5 IMAGES-->

            <div class="maskimg m0auto rowof2" ng-if="pillowImages.length==5">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(4,$data,$event)" ng-click="getImageId('img1', 4)">
                        <div class="drag-box frame2 element4 {{pillow.opacity}}" id="img5" ng-repeat="pillow in pillowImages[4]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg4" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 6 IMAGES-->

            <div class="maskimg m0auto rowof2" ng-if="pillowImages.length==6">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(4,$data,$event)" ng-click="getImageId('img1', 4)">
                        <div class="drag-box frame2 element4 {{pillow.opacity}}" id="img5" ng-repeat="pillow in pillowImages[4]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg4" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(5,$data,$event)" ng-click="getImageId('img1', 5)">
                        <div class="drag-box frame2 element5 {{pillow.opacity}}" id="img6" ng-repeat="pillow in pillowImages[5]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg5" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 7 IMAGES-->

            <div class="maskimg m0auto rowof3" ng-if="pillowImages.length==7">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(4,$data,$event)" ng-click="getImageId('img1', 4)">
                        <div class="drag-box frame2 element4 {{pillow.opacity}}" id="img5" ng-repeat="pillow in pillowImages[4]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg4" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(5,$data,$event)" ng-click="getImageId('img1', 5)">
                        <div class="drag-box frame2 element5 {{pillow.opacity}}" id="img6" ng-repeat="pillow in pillowImages[5]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg5" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(6,$data,$event)" ng-click="getImageId('img1', 6)">
                        <div class="drag-box frame2 element6 {{pillow.opacity}}" id="img7" ng-repeat="pillow in pillowImages[6]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg6" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 8 IMAGES-->

            <div class="maskimg m0auto rowof3" ng-if="pillowImages.length==8">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(4,$data,$event)" ng-click="getImageId('img1', 4)">
                        <div class="drag-box frame2 element4 {{pillow.opacity}}" id="img5" ng-repeat="pillow in pillowImages[4]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg4" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(5,$data,$event)" ng-click="getImageId('img1', 5)">
                        <div class="drag-box frame2 element5 {{pillow.opacity}}" id="img6" ng-repeat="pillow in pillowImages[5]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg5" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(6,$data,$event)" ng-click="getImageId('img1', 6)">
                        <div class="drag-box frame2 element6 {{pillow.opacity}}" id="img7" ng-repeat="pillow in pillowImages[6]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg6" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(7,$data,$event)" ng-click="getImageId('img1', 7)">
                        <div class="drag-box frame2 element7 {{pillow.opacity}}" id="img8" ng-repeat="pillow in pillowImages[7]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg7" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

            <!--		   FOR 9 IMAGES-->

            <div class="maskimg m0auto rowof3" ng-if="pillowImages.length==9">
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(0,$data,$event)" ng-click="getImageId('img1', 0)">
                        <div class="drag-box frame2 element0 {{pillow.opacity}}" id="img1" ng-repeat="pillow in pillowImages[0]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg0" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(1,$data,$event)" ng-click="getImageId('img1', 1)">
                        <div class="drag-box frame2 element1 {{pillow.opacity}}" id="img2" ng-repeat="pillow in pillowImages[1]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg1" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(2,$data,$event)" ng-click="getImageId('img1', 2)">
                        <div class="drag-box frame2 element2 {{pillow.opacity}}" id="img3" ng-repeat="pillow in pillowImages[2]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg2" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(3,$data,$event)" ng-click="getImageId('img1', 3)">
                        <div class="drag-box frame2 element3 {{pillow.opacity}}" id="img4" ng-repeat="pillow in pillowImages[3]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg3" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(4,$data,$event)" ng-click="getImageId('img1', 4)">
                        <div class="drag-box frame2 element4 {{pillow.opacity}}" id="img5" ng-repeat="pillow in pillowImages[4]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg4" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(5,$data,$event)" ng-click="getImageId('img1', 5)">
                        <div class="drag-box frame2 element5 {{pillow.opacity}}" id="img6" ng-repeat="pillow in pillowImages[5]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg5" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(6,$data,$event)" ng-click="getImageId('img1', 6)">
                        <div class="drag-box frame2 element6 {{pillow.opacity}}" id="img7" ng-repeat="pillow in pillowImages[6]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg6" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(7,$data,$event)" ng-click="getImageId('img1', 7)">
                        <div class="drag-box frame2 element7 {{pillow.opacity}}" id="img8" ng-repeat="pillow in pillowImages[7]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg7" style="{{pillow.style}}">

                        </div>

                    </div>
                    <div class="box-in" ng-drop="{{dropstatus}}" ng-drop-success="onDropComplete(8,$data,$event)" ng-click="getImageId('img1', 8)">
                        <div class="drag-box frame2 element8 {{pillow.opacity}}" id="img9" ng-repeat="pillow in pillowImages[8]" dragbox>

                            <img ng-src="{{pillow.img | imgpath}}" alt="" id="imgg8" style="{{pillow.style}}">

                        </div>

                    </div>
                </div>
            </div>

        </div>



        <ion-list class="cart-list">
            <ion-item>
                <label class="item-input item-select">
                    <div class="input-label padding0">
                        Size
                    </div>
                    
                    <select ng-model="oneproduct" ng-change="calculatePrice(oneproduct)">
                        <option value="{{prod}}" ng-repeat="prod in product">{{prod.xsize}} * {{prod.ysize}}</option>
                    </select>

                </label>
            </ion-item>
            <ion-item>
                <span>Quantity</span>

                <span class="pull-right">
                	<div class="button-bar btn-soc">
					<a class="button button-light button-small" ng-click="incdec(1);"><i class="ion-minus-round"></i></a>
					<a class="button button-light button-small" ng-click="incdec(2);"><i class="ion-plus-round"></i></a>
        </div>
                </span>
                <span class="pull-right qty">{{arrayConvert.quantity}}</span>
            </ion-item>
            <ion-item>
                <span>Total</span>
                <span class="pull-right">Rs.{{arrayConvert.price}}</span>
            </ion-item>
        </ion-list>

        <div class="padding mt40">
            <button class="button button-block button-positive button-outline" ng-click="addCart(1);">
                Add to cart
            </button>
            <a class="button button-block button-positive button-outline" ng-click="addCart(2)">
            Checkout
        </a>
        </div>
    </ion-content>
</ion-view>