<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
<!--
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
-->
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Confirm Password">
            </label>
            <div class="padding">
                <a href="#/app/home" class="button button-block button-positive">Sign Up</a>
            </div>
        </div>
    </ion-content>
</ion-view>