/* Empty. Add your own CSS if you like */
.homebg{
    background-color:#ecf0f1;
}
.profile img{
    width:30%;
    margin:40px 0 10px 0;
    border-radius: 50%;
}
.menu-items .item{
    border-width:0px;
    color:#b7b6b6;
}
.menu-items .item-content{
    padding:8px 49px 8px 16px;
}
.profile{
    border-bottom: 1px solid #b7b6b6;
}
.profile h4{
    margin:0 0 20px 0;
    color:#b7b6b6;
}
.slider-padding{
    padding:40px 40px 10px 40px;
}
.title-txt{
    font-size: 24px;
  text-align: center;
  color: #a6a6a6;
}
.create-btn{
   background-color: #a6a6a6;
  color: #fff;
  min-height: 29px;
  line-height: 0;
  border-radius: 0;
  padding: 0 70px;
  font-size: 18px;

}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px!important;
}
button.button.create-btn.activated{
    border-color: #a6a6a6;
  background-color: #a6a6a6;
  box-shadow: none;;
}
.btn-width{
    width: 100%;
}
.pull-right{
    float: right;
}
.cart-list .list{
    width: 80%;
  margin: 30px auto 0 auto;
}
.social-btn{
    width: 80%;
    margin: 0 auto;
}
.btn-twitter{
    background-color: #55ACEE;
    color:#fff;
}
.btn-gplus{
    background-color: #D43F2B;
    color:#fff;
}
.btn-fb{
    background-color: #3A5795;
    color:#fff;
}
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.4);
}
.design-popup{
    width: 100%;
  margin: 175px auto 0;
}
.custom{
    padding: 10px;
}
.bar .title.title-left{
    text-align: center;
}
.pad-item .item-content{
    padding: 16px;
}